// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ticker{
	font-size:70px;
}
.feature{
	font-size:16px;
}

.about-text{
	font-size:17px;
}