
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
	<div class="col-lg-8 col-md-8 col-sm-8 about-text">

		<h1>About</h1>
		Listacize is an easy to use wishlist application.You can add your favorite items from ecommerce websites and see them in one place. That way you can keep a track of what you want to buy, and receive price alerts if you chose to. <br/><br/>
		<%=image_tag("items-shot.png")%>




	</div>

</div>
